.hi1{
    background-color: rgb(255, 115, 201);
    color: white;
    text-align:center;
    margin-top: auto;

}
.hi2{
    height: 175px;
   
    
}
.hi3{
    height: 175px;
   
}
.hi4{ 
    color: rgb(235, 54, 181);

}

.hi5{
    height: 175px;
}
.hi6{
    height: 175px;
}
.hi7{
    height: 175px;
}
.hi8{
    height: 175px;
    
}